---
import Layout from '../layouts/Layout.astro';
import FidgetSpinner from '../components/FidgetSpinner';
---

<Layout title="Fidget Spinner">
  <main class="w-screen h-screen overflow-hidden bg-transparent">
    <FidgetSpinner client:load />
  </main>
</Layout>