---
import Layout from '../layouts/Layout.astro';
import FidgetSpinner from '../components/FidgetSpinner';
---

<Layout title="Fidget Spinner - Interactive Demo">
  <div class="h-full flex flex-col">

    
    <div class="flex-grow flex justify-center items-center">
      <FidgetSpinner client:load />
    </div>
  </div>
</Layout>