---
const currentYear = new Date().getFullYear();
---

<footer class="bg-white shadow-sm h-12 flex items-center h-[10s"vh]>
  <div class="container mx-auto px-4">
    <div class="flex justify-center items-center">
      <p class="text-gray-600 text-sm">
        © {currentYear} spinnerxrp. All rights reserved.
      </p>
    </div>
  </div>
</footer>